@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&amp;display=swap');

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: limegreen;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--theme-color-dark);
  }

body {
    background-color:#000;
    color:#f0f0f0;
    font-family: "Bai Jamjuree", sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root {
    --theme-color-light: lime;
    --theme-color-dark: lime;
    --body-bg-1: #121212;
    --body-bg-2: #1c2841;
  
    --text-white: #fafafa;
    --box-shadow: 15px 20px 15px rgb(0, 128, 0, 30%);
  }

h1,h2,h3,h4,h5,h6 {
    color:#ffffff;
    font-weight: 700;
}

a {
    text-decoration: none;
    color:#f0f0f0;
    transition: all 0.4s ease;
}

a:hover {
    color:lime;
}

img {
    width: 100%;
}

.text-brand,.seq{
    color:lime;
}

.bg-base {
    background-color:#1a1a1a;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect {
    box-shadow: -6px 6px 0 0 lime;
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color:lime;
    color:#1a1a1a;
}

/* Navbar */
.navbar {
    background-color:#1a1a1a;
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color:lime;
}

.navbar .nav-link.active {
    color:lime;
}


@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: 240px;
        background: linear-gradient(rgba(3, 14, 16, 0.8), rgba(3, 14, 16, 0.8)), url(../images/sidebar.jpg);
        background-size: cover;
        background-position: center;
        padding: 20px;
    }

    .navbar-brand img {
        border: 6px solid lime;
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: 240px;
    }
}

.btn {
    padding: 12px 28px;
    font-weight: 700;
    overflow: hidden;
}

/*Explore my work button*/
    .btn-brand1 {
        position: relative;
        border: 2px solid lime;
        outline: none;
        transition: 1s ease-out;
        background-color: lime;
        color: lime;
        z-index: 20;
    }

    .btn-brand1::before {
        content: "";
        position: absolute;
        background-color: black;
        width: 15.2rem;
        height: 15.2rem;
        border-radius: 39%;
        top: -13.4rem;
        left: -2rem;
        animation: wave 5s linear infinite;
        overflow: hidden;
        z-index: -1;
    }
    .btn-brand1::after {
        content: "";
        position: absolute;
        background-color: black;
        width: 15.2rem;
        height: 15.2rem;
        border-radius: 39%;
        top: -13rem;
        left: -1.7rem;
        opacity: 80%;
        animation: wave 7s linear infinite;
        overflow: hidden;
        z-index: -1;
    }
    
    @keyframes wave {
        0%{rotate: 0deg;}
        100%{rotate: 360deg;}
    }

    .btn-brand1:hover{color: #1a1a1a;}
    .btn-brand1:hover{
        background-color: lime;
    }

    .btn-brand1:hover::before {
        top: -30rem;
        transition: all 4s ease-in-out;
    }
    .btn-brand1:hover::after {
        top: -30rem;
        transition: all 4s ease-in-out;
    }
/*Download Resume button*/
.btn-brand2 {
    position: relative;
    border: 2px solid lime;
    color: lime;
    overflow: hidden; 
}

.btn-brand2:hover {
    color: #1a1a1a;
}

.btn-brand2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    background-color: lime;
    transition: width 0.7s ease-in-out; /* Smooth animation */
}

.btn-brand2:hover::before {
    width: 100%; /* Expand to full width on hover */
}




/* Custom Links */
.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color:lime;
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}


/* Work Part - My Projects */

.card-custom{
    transition: box-shadow 0.7s ease-in-out;
    position: relative;
    overflow: hidden;
}
.card-custom:hover{
    box-shadow: -7px 7px 0 0 lime;
}

.card-custom .badge-pill {
    font-size: 14px;
    min-width: 70px;
    background: linear-gradient(135deg, rgba(31, 31, 31, 0.6), rgba(246, 239, 239, 0.2));
    color: limegreen;
    backdrop-filter: blur(2px);
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}
/* Card Customization */
.card-custom .shadow-effect:hover{
    box-shadow: -6px 6px 0 0 lime;
    background-color: #3c3a3a;
    transition: all 0.5s ease-in-out;
}
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    height: 245px;
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);

}
.container .extra-section h4{color: lime;}
.card-custom-content h3{color:lime}

/* Social Icons */
.social-icons a {
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:#222;
    border-radius: 100px;
    font-size: 24px;
    color: lime;
}
.social-icons a:hover{
    /* color: green; */
    transform: rotate(360deg);
    transform: rotate(-360deg);
}
.social-icons p{color: limegreen;font-weight: bold;}
#work{background-color:#1c2841 ;}
/*---------------------------Education & Internship---------------------------*/

.education-content .row{
    display: flex;
    border-radius: 5px;
    min-height: 300px;
    margin-bottom: 110px;
  }
  
  .education-content .title{
    color: lime;
  }
  .education-content .row .education,
  .education-content .row .internship
  {
    color: #e5e5e5;
    flex:0 0 50%;
    max-width: 50%;
    margin-top: 30px;
  } 
  .education-content  h3.title{
    font-size:24px;
    margin-bottom: 30px;
    font-weight: 700;
  }
  .education-content .row.timeline-box{
    flex:0 0 100%;
    max-width: 100%;  
  }
  .education-content h2.timeline-title,h3.timeline-title,h4.timeline-title{color: lime;}
  .education-content .row .timeline{
    /* background-color:#e5e5e5; */
    padding: 30px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    width: 100%;
    position: relative;
  }
  .education .timeline-item h2,h5{color: lime;} 
  .education .timeline-item h4,h6{color: white;} 

  .education-content .row .timeline-item{
    position:relative;
    padding-left: 37px;
    padding-bottom: 50px; 
  }
  .education-content .row  .internship .timeline-item{
    position:relative;
    padding-left: 37px;
    padding-bottom: 30px; 
  }
  .education-content .row .timeline-item:last-child{
    padding-bottom: 0;
  }
  .education-content .row .timeline-item::before{
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: lime;  
  }
  .education-content .row .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #e5e5e5;
  }
  .education-content .row .timeline-title  {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 12px;
  }
  .education-content .row .internship .timeline-title  {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
  }
  .education-content .row .timeline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
  }



/* My Skills Part */
#skills {
    padding: 5rem 2rem;
    background-color: var(--body-bg-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#skills .part_1 h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    position: relative;
    color: lime;
}

#skills .part_1 h2:after {
    content: "- what i know -";
    font-size: 15px;
    width: 100%;
    position: absolute;
    top: 80%;
    left: 0;
    padding-top: 7px;
    color: white;
}

/* Skill section container */
#skills .part_2 {
    width: 100%;
    max-width: 930px;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
}

#skills .part_2 .info {
    flex: 1 1 400px;
    max-width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

#skills .part_2 .info h3 {
    font-size: 22px;
    font-weight: 700;
    color: lime;
}

#skills .part_2 .info p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
    line-height: 2rem;
}

#skills .part_2 .card {
    flex: 1 1 300px;
    max-width: 100%;
    position: relative;
    border: none;
    border-radius: 4px;
    border: 3px solid chartreuse;
}

/* Skills Styling */
#skills .part_2 .skills {
    background-color: #222;
    padding: 1rem;
    cursor: pointer;
    transition: all linear 0.5s;
    width: 100%;
}

.skills:hover {
    box-shadow: var(--box-shadow);
}

.skill-name {
    margin-top: 2rem;
    font-weight: bold;
    color: white;
}

.skill-bar {
    height: 5px;
    border-radius: 4px;
    background: #282828;
    width: 100%;
}

.skill-per {
    height: 5px;
    border-radius: 4px;
    background: var(--theme-color-light);
    position: relative;
    animation: skillbar 3.5s 1;
}

.skill-per:before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: var(--text-white);
    border-radius: 4px;
    font-size: 12px;
    color: var(--body-bg-1);
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--text-white);
    border-radius: 2px;
    top: -15px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
}

@keyframes skillbar {
    from {
        width: 0;
        background: limegreen;
    }
    to {
        width: 100%;
        background: var(--theme-color-light);
    }
}
.skills:hover {
    box-shadow: 0 -15px 15px 18px limegreen;
    border-image: linear-gradient(45deg, limegreen, green) 1;
    transition: all 0.5s ease-in-out;
}


/* Responsive adjustments */
@media screen and (max-width: 600px) {
    #skills .part_2 {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #skills .part_2 .info,
    #skills .part_2 .card {
        flex-basis: 100%;
        min-width: 100%;
    }
}
.container{border-radius: 10px;}
.contact {
    box-shadow: 0px 0px 18px 2px lime, 
                inset 3px 3px 20px rgba(255, 255, 255, 0.2), 
                inset -3px -3px 20px rgba(0, 0, 0, 0.3);
}
    
@media screen and (max-width: 470px) {
    body{padding-top: 80px;}
}